
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* Text*/

h1 {
  margin: 0 0 1em 0;
  font-size: 2.8em;
  font-weight: 700;
  line-height: 1.1em;
}

h2 {
  margin: 0 0 0.5em 0;
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1em;
}

h3 {
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  font-weight: 700;
}

h4 {
  margin: 0 0 1.5em 0;
  font-size: 1em;
  font-weight: 700;
}

p {
  margin: 0 0 1em 0;
}


.btn {
  font-size: 1.2em;
  text-decoration: none;
  color: #393939;
  border: 1px solid #393939;
  padding: 4px 15px;
  transition: background-color .5s;
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 2em;
  }
}